.error-container {
    text-align: center;
    margin-top: 50px;
    width:100%;
    height:400px;
  }
  
  .error-title {
    color:#42b983;
    font-size: 3em;
  }
  
  .error-text {
    font-size: 1em;
  }
  
  .link-home {
    text-decoration: none;
    cursor: pointer;
    color:black;
    position:relative;
    bottom:-100px;

  }

  .link-home:hover{
    color:#42b983;
  }